header{
    height: 90px;
    background-color: white;
}
body{
    margin: 0;
    font-family: "Rubik", sans-serif;
}
header img{
    height: 40px;
    padding-left: 135px;
}
nav{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 120px;
}
header a{
    color: #99A2AA;
    font-size: 15px;
    font-weight: 400;
    margin: 18px;
}
nav a{
    text-decoration: none;
}
main{
    height: 450px;
    background-color: #FEC524;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 135px;
}
main div{
    height: 52px;
    width: 300px;
    font-weight: 700;
    color: white;
    font-size: 44px;
}
input{
    height: 72px;
    width: 530px;
    color: #757575;
    border-radius: 10px;
    border: white;
    margin-top: 92px;
}
main p{
    margin-top: 54px;
}
article{
    height: 800px;
    display: flex;
.post{
    height: 57px;
    width: 204px;
    color: #0E2F4B;
    font-size: 48px;
    font-weight: 700;
}
.function{
    height: 25px;
    width: 370px;
    color: #0E2F4B;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}
.paragraph{
    height: 130px;
    width: 130px;
    padding-top: 30px;
    position: fixed;
}
.box{
    height: 500px;
    width: 40%;
    top: 150px;
    left: 120px;
    padding-left: 100px;
    padding-top: 130px;
}
.boxes{
    width: 750px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 10px;
}
.value{
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.value p{
    margin: 0;
    color: #0E2F4B;
    font-size: 17px;
    font-weight: 700;
}
.value h6{
    color: #0E2F4B;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}
.wrapper{
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 45px
}
section{
    height: 660px;
    background-color: #FF8577;
    width: 100%;
}
    .blue{
        height: 660px;
        background-color: midnightblue;
        display: flex;
        align-items: center;
        justify-content: center;
    }






